<link rel="stylesheet" href="../styles.css">
<h1>Game of Thrones Characters</h1>
    <ul class="character-container"></ul>

        {{#each cast}}
        <li class="character">
            <img src="{{this.shortCode}}" height="200px" width="200px">
            <h2>{{this.name}}</h2>
            <p>House: {{this.house}}</p>
            <p>Actor: {{this.actor}}</p>
            {{#if this.location}}<p>Location: {{this.location}}</p>{{/if}}
            {{#unless this.location}}<p>Whereabouts are unknown...</p>{{/unless}}
        </li>
        {{/each}}
